/* responsive.css */
@media screen and (max-width: 768px) {
    /* Cambia la disposición de las columnas */
    .curso-detalle-contenedor {
      display: flex;
      flex-direction: column;
    }
  
    .imagen-curso {
      order: 1;
    }
  
    .titulo-curso {
      order: 2;
    }
  
    .valores-curso {
      order: 3;
    }
  
    .detalles-curso {
      order: 4;
    }
  
    /* Puedes seguir añadiendo reglas aquí según sea necesario */
  }